---
title: "Welcome to Notes Club!"
preheader: "👀 Monthly events with a short talk and a roundtable. Starting in October with Zettelkasten!"
---

<extends src="src/layouts/main.html">
<block name="template">

<div class="m-auto my-12 px-12 max-w-prose space-y-10">
    <table id="header" class="table-fixed flex-row-reverse">
        <tr>
            <td id="subject" class="font-quicksand m-4 text-4xl align-middle items-center">
                Welcome to Notes Club!
            </td>
            <td class="w-1/6">
                <img class="inline" src="https://cdn.discordapp.com/attachments/393469514886414336/885662702586982461/notesclub-transparent-large.png">
            </td>
        </tr>
    </table>
    <hr>
    <div id="content" class="px-12">
        Notes Club is a space to chat and learn about taking, processing, reviewing, and publishing notes. Yall have have a busy schedules, so Notes Club communications will be short, skimmable, and sweet.
        <!--<div class="heading">Events</div>-->
        <h2>Events</h2>
        <ul>
            <li>What?  <ul>
                <li>Monthly events with a short talk and a roundtable <ul>
                        <li>No need to choose between Notes Club and another, since they won't regularly overlap.</li>
                    </ul>
                </li>
                <li>This coming meeting: <ul>
                        <li>A short talk on Zettelkasten (linking atomic notes to create a knowledge graph).</li>
                        <li>A space to compare note systems and integrate.</li> </ul>
                </li>
            </ul></li>
            <li>When?
                <ul><li>Events monthly, starting in October (dates to be announced).</li></ul>
            </li>
            <li>Where? <ul><li>Location to be announced.</li></ul></li>
        </ul>

        <!--<div class="heading">Resources</div>-->
        <h2>Resources</h2>
        Here are some wiki-style resources for exploring the world of note-taking. Please feel free to contribute an app or a blurb!
        <ul>
            <li><a href="https://docs.google.com/document/d/17jc17yK3VjXDYs0QEjybyMQ1tr0p8UXpB_pSxzsuZ28/edit?usp=sharing">Note-taking philosophies</a></li>
            <li><a href="https://docs.google.com/document/d/1qJkoVKCnYb6IhFYoLbm92U9A6iUfWIWLa9UbiEAlM4I/edit?usp=sharing">Note-taking systems and apps</a></li>
            <li><a href="https://docs.google.com/document/d/1KotM3y0WsnUxIbpm7WLQJSO8_TL_sCSr1q6VP1M6e6w/edit?usp=sharing">Glossary of note-taking terms</a></li>
        </ul>

        <!--<div class="heading">Until Then</div>-->
        <h2>Until Then</h2>
        If you haven't already:
        <ul>
            <li>Fill out the <a href="https://forms.gle/qM7y4UtTTbSJxaaf9">interest form</a>.</li>
            <li>Fill out the <a href="https://forms.gle/JvdY18WkjN56KGhb7">note-taking systems survey</a>.</li>
            <li>Join the <a href="https://discord.gg/4TEp22jZkH">Discord</a>.</li>
        </ul>
        <br>
        Keep your eye out for another email with more details about our first event!<br>
        - Albert
    </div>
    <div id="footer" class="w-full justify-center items-center">
        <table class="m-auto table-fixed">
            <tr>
                <td class="">
                    <img class="inline" style="height: 5rem;" src="https://cdn.discordapp.com/attachments/393469514886414336/885662702586982461/notesclub-transparent-large.png">
                </td>
                <td class="text-black text-opacity-40">
                    for anyone who has<br>
                    or wants better notes
                </td>
            </tr>
        </table>
    </div>
</div>
</block>
</extends>
