<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Welcome to Notes Club!</title>
        <meta name="description" content="Notes Club 2021 welcome email: events, resources, and todos.">
        <meta name="author" content="Albert Huang">

        <meta property="og:title" content="Notes Club 2021 welcome email: events, resources, and todos.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="TODO">
        <meta property="og:description" content="A simple HTML5 Template for new projects.">
        <meta property="og:image" content="https://cdn.discordapp.com/attachments/393469514886414336/881413617508040735/notesclub-offwhite.png">

        <!--<link rel="icon" href="/favicon.ico">-->
        <!--<link rel="icon" href="/favicon.svg" type="image/svg+xml">-->
        <!--<link rel="apple-touch-icon" href="/apple-touch-icon.png">-->

        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand|Montserrat">
        <style>
body {
    background-color: #e8ecf2;
}
hr {
    border-width: 1px;
    border-color: #7190fc;
}
a {
    text-decoration: underline 2px #7190fc !important;
}
#subject {
    font-family: Quicksand;
    font-weight: 700;
}
#content, #footer {
    font-family: Montserrat;
}
#content li {
    list-style-position: inside;
    list-style-type: disc;
    text-indent: -1.4em;
    padding-left: 1em;
}
#content ul {
    padding-left: 1.5rem;
}
.heading {
    font-size: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #7190fc;
    color: #e8ecf2;
    border-radius: 0.5rem;
    font-family: Quicksand;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
        </style>
    </head>

    <body>
        <div class="m-auto my-12 max-w-prose space-y-10">
            <div id="header" class="flex space-apart flex-row-reverse">
                <div class="w-1/6 flex-none flex items-center">
                    <img class="inline" src="https://cdn.discordapp.com/attachments/393469514886414336/885662702586982461/notesclub-transparent-large.png">
                </div>
                <div id="subject" class="font-quicksand m-4 text-4xl flex-grow flex flex-row items-center">
                    Welcome to Notes Club!
                </div>
            </div>
            <hr>
            <div id="content" class="px-12">
                Notes Club is a space to chat and learn about taking, processing, reviewing, and publishing notes. Yall have have a busy schedules, so Notes Club communications will be short, skimmable, and sweet.
                <div class="heading">Events</div>
                <ul>
                    <li>What?
                        <ul>
                            <li>Monthly events with a short talk and a roundtable
                                <ul><li>No need to choose between Notes Club and another, since they won't regularly overlap.</li></ul>
                            </li>
                            <li>This coming meeting: <ul>
                                    <li>A short talk on Zettelkasten (linking atomic notes to create a knowledge graph).</li>
                                    <li>A space to compare note systems and integrate.</li></li>
                                </ul>
                        </ul>
                    </li>
                    <li>When?
                        <ul><li>Events monthly, starting in October (dates to be announced).</li></ul>
                    </li>
                    <li>Where? <ul><li>317.</li></ul></li>
                </ul>

                <div class="heading">Resources</div>
                Here are some wiki-style resources for exploring the world of note-taking. Please feel free to contribute an app or a blurb!
                <ul>
                    <li><a href="https://docs.google.com/document/d/17jc17yK3VjXDYs0QEjybyMQ1tr0p8UXpB_pSxzsuZ28/edit?usp=sharing">Note-taking philosophies</a></li>
                    <li><a href="https://docs.google.com/document/d/1qJkoVKCnYb6IhFYoLbm92U9A6iUfWIWLa9UbiEAlM4I/edit?usp=sharing">Note-taking systems and apps</a></li>
                    <li><a href="https://docs.google.com/document/d/1KotM3y0WsnUxIbpm7WLQJSO8_TL_sCSr1q6VP1M6e6w/edit?usp=sharing">Glossary of note-taking terms</a></li>
                </ul>

                <div class="heading">Until Then</div>
                If you haven't already:
                <ul>
                    <li>Fill out the <a href="https://forms.gle/qM7y4UtTTbSJxaaf9">interest form</a>.</li>
                    <li>Fill out the <a href="https://forms.gle/JvdY18WkjN56KGhb7">note-taking systems survey</a>.</li>
                    <li>Join the <a href="https://discord.gg/4TEp22jZkH">Discord</a>.</li>
                </ul>
                <br>
                Keep your eye out for another email with more details about our first event!<br>
                - Albert
            </div>
            <div id="footer" class="flex flex-rows justify-center items-center">
                <div class="w-1/6 flex-none flex items-center">
                    <img class="inline" src="https://cdn.discordapp.com/attachments/393469514886414336/885662702586982461/notesclub-transparent-large.png">
                </div>
                <div class="w-1/3 text-black text-opacity-50">
                    for anyone who has<br>
                    or wants better notes
                </div>
            </div>
        </div>
    </body>
</html>

