<div class="{{ page.bodyClass }}">
    <style>
body {
    background-color: #e8ecf2;
}
hr {
    border-width: 1px;
    border-color: #7190fc;
}
a {
    text-decoration: underline 2px #7190fc !important;
}
#subject {
    font-family: Quicksand, Sans-Serif;
    font-weight: 700;
}
#content, #footer {
    font-family: Montserrat, Sans-Serif;
}
#content li {
    list-style-position: inside;
    list-style-type: disc;
    text-indent: -1.4em;
    padding-left: 1em;
}
#content ul {
    padding-left: 1.5rem;
}
.heading {
    font-size: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #7190fc;
    color: #e8ecf2;
    border-radius: 0.5rem;
    font-family: Quicksand, Sans-Serif;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
    </style>
    <if condition="page.preheader">
    <div class="hidden">{{{ page.preheader }}}&#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &zwnj;
        &#160;&#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &zwnj;
        &#160;&#847; &#847; &#847; &#847; &#847; </div>
    </if>
    <div role="article" aria-roledescription="email" aria-label="{{{ page.title || '' }}}" lang="{{ page.language || 'en' }}">
        <block name="template"></block>
    </div>
</div>
