---
title: "Come to Notes Club on Monday, Oct 18th, in 317!"
preheader: "📅 We'll frame the club and personal information management, and chat about criteria for good note systems."
---

<extends src="src/layouts/main.html">
<block name="template">
    <div id="content" class="px-12">
        <h2>Events</h2>
        <ul>
            <li>What<ul>
                <li>The scope and goals of the club</li>
                <li>Personal information management as a field of study</li>
                <li>What should knowledge systems be able to do?</li>
            </ul></li>
            <li>When?
                <ul><li>Monday, October 18th, during clubs block.</li></ul>
            </li>
            <li>Where? <ul><li>317</li></ul></li>
        </ul>
    </div>
</block>
</extends>
